pep-checkbox{
    ::ng-deep  .pep-checkbox-container{
        background: transparent;
        padding-inline: 0;
    }
}

.pepperi-theme {
    background: transparent;
}

.notes {
    font-size: 13px;
    margin-bottom: 5px;
}


