p {
    white-space: pre-line;
    text-align: center;
}

.pepperi-border-bottom {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .close_button {
      display: inline-block;
      margin-left: 5px;
      margin-right: 1fr;
  }

  .title {
      display: inline-block;
  }