
<div class="dialog">

  <div mat-dialog-content class="mat-dialog-content">
      <div class="form">
        <div class="header" mat-dialog-title class="mat-dialog-title pepperi-border-bottom">
            <h2 class="title"> {{ title | translate}} </h2>
            <pep-button class="close_button" spacing-element [sizeType]="'sm'" [classNames]="'pep-spacing-element'" iconName="system_close" [styleType]="'weak'" (buttonClick)="onCloseFormClicked()"></pep-button>
        </div>
            <div class="message">
                <p> {{message}} </p>
            </div>
        </div>
  </div>
  <div mat-dialog-actions class="pepperi-border-top mat-dialog-actions split-actions"
      style="justify-content: flex-end;">
      <div class="spacing-element-negative">
          <button class="spacing-element pepperi-button md weak mat-button" mat-button [mat-dialog-close] (click)="onDisableButtonClicked()">
              <span class="mat-button-wrapper">
                  {{bottomButtonText}}
              </span>
              <div class="mat-button-ripple mat-ripple" matripple></div>
              <div class="mat-button-focus-overlay"></div>
          </button>
      </div>
  </div>
</div>